.cartItemsContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.cartItemCard {
    display: flex;
    flex-direction: row;
}

.cartItemBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cartItemCardPicture {
    width: 20%;
}

.yourCartItems{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.yourCartItems h2, h4 {
    margin-bottom: 0px;
    padding: 10px;
}

.orderSummary {
    background-color: beige;
    border: solid;
    border-radius: 10px;
}

.orderSummaryDetail {
    display: flex;
    justify-content: space-between;
}

.deleteButton {
    background-color: transparent;
    border: transparent;
}

.deleteButton:hover {
    background-color: #DC3545;
    border: #DC3545;
    padding: 4px;
    border-radius: 15%;
} 

.deleteButton svg:hover {
    background-color: transparent;
    border: transparent;
    color: white;
} 