.orderContainer{
    display: flex;
    justify-content: space-around;
}

.yourCartItems{
    display: flex;
    flex-direction: column;
}

.yourCartItems h2, h4 {
    margin-bottom: 0px;
    padding: 10px;
}

.orderSummary {
    background-color: beige;
    border: solid;
    border-radius: 10px;
}

.orderSummaryDetail {
    display: flex;
    justify-content: space-between;
}

.emptyCartButton {
    margin-left: 30px;
    background-color: #DC3545;
    border: #DC3545;
}

.totalContainer {
    text-align: end;
    width: 90%;
}