.title{
    color: #302d2d;
    margin-top: 20px;
    margin-bottom: 10px;
}

.greeting {
    color: #ce1e1e;
    text-decoration: underline;
    text-align: center;
}

.spinnerContainer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}