.counter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: transparent;
    font-weight: bold;
    width: 130px;
    padding: 4px;
}

.counter h2 {
    color: black;
    font-size: 16px;
}

.counter button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #ce1e1e;
}