.itemCard {
    text-align: center;
    background-color: #8d848428;
    margin-bottom: 50px;
    align-items: center;
}

.itemCardPicture{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardTextPrice {
    font-size: 18px;
    font-weight: 500;
}

.addToCart {
    display: flex;
    justify-content: center;
    align-items: baseline;
}