.storeLogoName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storeName {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.storeName:hover {
    color: white;
}

.storeLogo {
    width: 50px;
    margin-right: 10px;
}

.navLink {
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.navLink:hover {
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .navbarContainer {
        display: flex;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 350px) {
    .navbar .navbarContainer {
        justify-content: center;
    }
}