.storeName {
    color: #ce1e1e;
    font-weight: bold;
}

.storeLogo {
    width: 50px;
    margin-right: 10px;
}

.navLink {
    margin-right: 10px;
    margin-left: 10px;
}

.navLink:hover {
    color: #ce1e1e;
    font-weight: bold;
}